#player{
    width: 50px;
    height: 100px;
    background-color: red;
    position: absolute;
    left: 0;
   transition: .05s;
}

#enemy{
    width: 50px;
    height: 100px;
    background-color: blue;
    position: absolute;
    left: 200px;
}

#attack{
    position: absolute;
    top: 150px;
}

#playerHP, #enemyHP {
    position: absolute;
    top: 150px;
    font-size: 32px;
}

#enemyHP {
    left: 200px;
}

#info {
    position: absolute;
    top: 210px;
    font-size: 20px;
}